#gridPane {
    -fx-background-color: #181818;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
}

#newGameButton {
    -fx-base: #1a1a1a;
    -fx-text-fill: #888888;
}

#newGameButtonGlow {
    -fx-base: #00a8ff;
    -fx-text-fill: #00344f;
}

#mainMenuButton {
    -fx-base: #1a1a1a;
    -fx-text-fill: #888888;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent #323232,
        transparent transparent transparent #2c2c2c;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}

#soundButtonON {
    -fx-base: #1a1a1a;
    -fx-text-fill: #ffcc00;
}

#soundButtonOFF {
    -fx-base: #1a1a1a;
    -fx-text-fill: #888888;
}

#normalText {
    -fx-fill: #6f6f6f;
}